*{
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}
.head{
    display: flex;
    justify-content: center;
    margin: 10px;
}
.container{
    margin: auto;
    background-color: aliceblue;
    width: 50%;
    height: 55%;
    border-radius: 4px;
    padding-bottom: 10px;
    
}
.label{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    gap: 10px;
}
.label label{
    margin: auto;
    font-weight: bold;
}
.label input{
    width: 60%;
    height: 20px;
    margin: auto;
    margin-top: 10px;
}

.butt{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
button{
    width: 100px;
    height: 30px;
    color: white;
    background-color: lightskyblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: blue;

}
.out{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    font-size: 15px;
    font-weight: bold;
}
#error{
    display: flex;
    justify-content: center;
    color: red;
    margin-top: 10px;
    
    
}
